{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'project_create' %}">Create projects</a>
            </li>
            <li>
                <a href="{% url 'task_create' %}">Create tasks</a>
            </li>
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
